name: mt32-pi CI

on: [push, pull_request]

env:
  toolchain-version: 11.3.rel1
  python-version: "3.11"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.python-version }}

      - uses: psf/black@stable
        with:
          options: --check --diff --preview
          src: scripts

      - uses: isort/isort-action@v1
        with:
          sortPaths: scripts

      - uses: py-actions/flake8@v2
        with:
          path: scripts

      - uses: ludeeus/action-shellcheck@v2
        with:
          scandir: scripts

  build:
    runs-on: ubuntu-latest
    name: build-${{ matrix.board }}
    strategy:
      fail-fast: false
      matrix:
        board: [pi3-64]

    steps:
      - uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libglib2.0-dev \
            pkg-config
            
      - name: Fetch submodules
        run: make submodules

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ env.toolchain-version }}-${{ matrix.board }}

      - name: Cache ARM toolchains
        id: cache-toolchains
        uses: actions/cache@v4
        with:
          path: |
            ~/arm-gnu-toolchain-${{ env.toolchain-version }}-x86_64-arm-none-eabi
            ~/arm-gnu-toolchain-${{ env.toolchain-version }}-x86_64-aarch64-none-elf
          key: cache-arm-toolchains-${{ env.toolchain-version }}

      - name: Install toolchains if not retrieved from cache
        if: steps.cache-toolchains.outputs.cache-hit != 'true'
        run: |
          for triplet in arm-none-eabi aarch64-none-elf; do
            wget -q https://developer.arm.com/-/media/Files/downloads/gnu/${{ env.toolchain-version }}/binrel/arm-gnu-toolchain-${{ env.toolchain-version }}-x86_64-${triplet}.tar.xz
            tar -xf arm-gnu-toolchain-${{ env.toolchain-version }}-x86_64-${triplet}.tar.xz -C ~
            rm arm-gnu-toolchain-${{ env.toolchain-version }}-x86_64-${triplet}.tar.xz
          done

      - name: Update PATH
        run: |
          mkdir ~/ccache_bin
          for triplet in arm-none-eabi aarch64-none-elf; do
            ln -sf $(which ccache) ~/ccache_bin/${triplet}-gcc
            ln -sf $(which ccache) ~/ccache_bin/${triplet}-g++
            echo "$HOME/ccache_bin:$HOME/arm-gnu-toolchain-${{ env.toolchain-version }}-x86_64-${triplet}/bin" >> $GITHUB_PATH
          done

      - name: Build
        run: make -j BOARD=${{ matrix.board }}

      - name: Upload built kernel
        uses: actions/upload-artifact@v4
        with:
          name: kernels
          path: kernel*.img

      - name: Build (HDMI console)
        run: make clean && make -j BOARD=${{ matrix.board }} HDMI_CONSOLE=1

      - name: Upload built kernel (HDMI)
        uses: actions/upload-artifact@v4
        with:
          name: kernels-hdmi
          path: kernel*.img

  package:
    needs: build
    runs-on: ubuntu-latest

    env:
      boot-home: external/circle-stdlib/libs/circle/boot
      wlan-home: external/circle-stdlib/libs/circle/addon/wlan

    steps:
      - uses: actions/checkout@v4

      - name: Fetch submodules
        run: make submodules

      - name: Cache boot files
        id: cache-boot-files
        uses: actions/cache@v4
        with:
          path: |
            sdcard/armstub8-rpi4.bin
            sdcard/bcm2711-rpi-4-b.dtb
            sdcard/bcm2711-rpi-400.dtb
            sdcard/bcm2711-rpi-cm4.dtb
            sdcard/bootcode.bin
            sdcard/COPYING.linux
            sdcard/fixup_cd.dat
            sdcard/fixup4cd.dat
            sdcard/LICENCE.broadcom
            sdcard/start_cd.elf
            sdcard/start4cd.elf
          key: cache-boot-files-${{ hashFiles(format('{0}/Makefile', env.boot-home)) }}

      - name: Cache WLAN firmware
        id: cache-wlan-firmware
        uses: actions/cache@v4
        with:
          path: sdcard/firmware
          key: cache-wlan-firmware-${{ hashFiles(format('{0}/firmware/Makefile', env.wlan-home)) }}

      - name: Retrieve built kernels
        uses: actions/download-artifact@v4
        with:
          name: kernels
          path: sdcard

      - name: Upload SD card archive
        uses: actions/upload-artifact@v4
        with:
          name: sdcard
          path: sdcard

      - name: Get version (git tag)
        if: startsWith(github.ref, 'refs/tags/')
        id: get_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Create release package
        if: startsWith(github.ref, 'refs/tags/')
        run: cd sdcard && zip -r ../mt32-pi-${{ steps.get_version.outputs.version }}.zip *
